<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93938a">  <td>17/09/22 22:14:46</td>   <td>0</td> <td title="&lt;&lt;BaseClass.endSuite()[pri:0, instance:testScripts.LoginScenario@3fc2959f]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@262457445</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>17/09/22 22:13:33</td>   <td>-72793</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@3fc2959f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@262457445</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>17/09/22 22:13:32</td>   <td>-73728</td> <td title="&gt;&gt;BaseClass.initializeVariables()[pri:0, instance:testScripts.LoginScenario@3fc2959f]">&gt;&gt;initializeVariables</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@262457445</td>   <td></td> </tr>
<tr bgcolor="93938a">  <td>17/09/22 22:13:56</td>   <td>-49787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@3fc2959f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@262457445</td>   <td></td> </tr>
<tr bgcolor="7fd8ce">  <td>17/09/22 22:13:43</td>   <td>-62562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@3fc2959f]">validLoginScenario</td> 
  <td>main@262457445</td>   <td></td> </tr>
</table>
