<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:29</td>   <td>0</td> <td title="&gt;&gt;BaseClass.initializeVariables()[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeVariables</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:30</td>   <td>882</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:15:40</td>   <td>11806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:50</td>   <td>21465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:51</td>   <td>22094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:01</td>   <td>32605</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:08</td>   <td>39593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:09</td>   <td>40208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:18</td>   <td>49465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:23</td>   <td>54329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:24</td>   <td>55149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:37</td>   <td>68244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:56</td>   <td>87268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:59</td>   <td>90233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:17:12</td>   <td>103557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:18</td>   <td>109437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:21</td>   <td>111896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:17:32</td>   <td>123519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:39</td>   <td>130413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:42</td>   <td>132920</td> <td title="&lt;&lt;BaseClass.endSuite()[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
</table>
