<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:42</td>   <td>0</td> <td title="&lt;&lt;BaseClass.endSuite()[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;endSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:30</td>   <td>-132038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:51</td>   <td>-110826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:09</td>   <td>-92712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:24</td>   <td>-77771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:59</td>   <td>-42687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:21</td>   <td>-21024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializeBrowser(java.lang.String, [Ljava.lang.Object;)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeBrowser</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:29</td>   <td>-132920</td> <td title="&gt;&gt;BaseClass.initializeVariables()[pri:0, instance:testScripts.LoginScenario@49fc609f]">&gt;&gt;initializeVariables</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:15:50</td>   <td>-111455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:08</td>   <td>-93327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:23</td>   <td>-78591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:16:56</td>   <td>-45652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:18</td>   <td>-23483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>17/09/22 21:17:39</td>   <td>-2507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testScripts.LoginScenario@49fc609f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:15:40</td>   <td>-121114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:01</td>   <td>-100315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:18</td>   <td>-83455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@61f8bee4]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:16:37</td>   <td>-64676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:17:12</td>   <td>-29363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/22 21:17:32</td>   <td>-9401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginScenario.validLoginScenario(java.util.Map)[pri:0, instance:testScripts.LoginScenario@49fc609f]">validLoginScenario</td> 
  <td>main@319977154</td>   <td></td> </tr>
</table>
